@import '../../style/varibles.scss';
.page {
  position: relative;
}
.header {
  width: 100vw;
  height: 480rpx;
  background-color: $primary-color;
  border-radius: 0 0 200rpx 0;
  position: relative;
  overflow: hidden;
  .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 480rpx;
  }
  .user-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 76rpx;
    position: absolute;
    top: 128rpx;
    left: 50rpx;
    .avatar-box {
      width: 76rpx;
      height: 76rpx;
      border-radius: 76rpx;
      background-color: white;
      text-align: center;
      line-height: 76rpx;
      font-weight: bold;
      font-size: 34rpx;
      color: $text-active-color;
    }
    .notification-box {
      margin-left: 36rpx;
      position: relative;
      width: 48rpx;
      height: 50rpx;
      .bell-icon {
        width: 48rpx;
        height: 50rpx;
      }
      .dot-icon {
        position: absolute;
        right: -4rpx;
        top: -14rpx;
        width: 34rpx;
        height: 34rpx;
      }
      .dot-number {
        position: absolute;
        font-size: 18rpx;
        color: white;
        right: 8rpx;
        top: -10rpx;
      }
    }
  }
}

.category-banner-list {
  position: absolute;
  top: 275rpx;
  height: 440rpx;
  .category-box {
    border-radius: 30rpx 30rpx 20rpx 20rpx;
    overflow: hidden;
    width: 280rpx;
    height: 440rpx;
    margin-left: 40rpx;
    float: left;
    image {
      width: 100%;
      height: 100%;
    }
  }
}