/* pages/play-list/detail.wxss */
@import '../../style/theme.scss';

.page {
  position: relative;
  .header-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 750rpx;
    height: 470rpx;
    z-index: -1;
  }
  .header {
    margin-top: 250rpx;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cover {
      width: 320rpx;
      height: 320rpx;
      border-radius: 34rpx;
      margin-bottom: 40rpx;
    }
    .name {
      color: $text-active-color;
      font-size: 36rpx;
      line-height: 42rpx;
      margin-bottom: 20rpx;
    }

    .description {
      color: $text-color;
      max-width: 476rpx;
      height: 56rpx;
      font-size: 24rpx;
      line-height: 30rpx;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
  .action-area {
    display: flex;
    flex-direction: row;
    button {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      -webkit-appearance: none;
      -webkit-text-size-adjust: 100%;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border: inherit;
        border-radius: inherit; /* inherit parent's border radius */
        transform: translate(-50%, -50%);
        opacity: 0;
        content: ' ';
        background-color: black;
        border-color: black;
      }
      &::after {
        border-width: 0;
      }
    }
    .primary-btn {
      width: 442rpx;
      height: 88rpx;
      background: $primary-color;
      color: white;
      font-size: 32rpx;
      line-height: 36rpx;
      border-radius: 20rpx;
    }
    .secondary-btn {
      width: 88rpx;
      height: 88rpx;
      background: #0041C4;
      border-radius: 20rpx;
      opacity: 0.1;
    }
  }
}